/* This stylesheet contains css informations about basic elements. */

html {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

a {
    color: inherit;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    z-index: 1;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}