/* This stylesheet contains css informations about the control loop visualization. */

/* ######################################################################## */
/*                          Control loop in general.                        */
/* ######################################################################## */


.background_svg_draw_area {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.control_loop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}

#main_control_loop {
    flex: 2 1 500px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
}


/* ######################################################################## */
/*                 D3-charts on top of the control loop.                    */
/* ######################################################################## */

.control_loop_plots {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.control_loop_plot {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 320px;
    vertical-align: top;
    transition: ease 0.6s;
    /* overflow: hidden; */
}

.svg_content_responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}


/* ######################################################################## */
/*                          Control loop layout.                            */
/* ######################################################################## */

.control_loop_top_row {
    display: flex;
    justify-content: space-evenly;
}

.control_loop_bottom_row {
    display: flex;
    justify-content: center;
}

.control_loop_element {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 22em;
    max-width: 18%;
    height: 8em;
    margin: 0;
    padding: 0;
    background-color: #a0c4ff;
    border: 2px solid #012a4a;
    border-radius: 10px;
    box-shadow: 0 0 0.5em -0.2em #1d3556;
    text-align: center;
    transition: all ease 0.6s, visibility 1ms;
    z-index: 1;
}

.control_loop_element:hover {
    box-shadow: 0 0 0.7em -0.1em #1d3556;
}

.control_loop_element_top_row {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.control_loop_element_bottom_row {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-grow: 2;
}

.element_value {
    flex-grow: 1;
    align-self: center;
}

.control_loop_dropdown {
    font-size: 1.2rem;
    text-align-last: center;
    background-color: #fffffc;
    border: 1px solid #012a4a;
    border-radius: 0.5em;
    width: 2.5em;
    height: 2.5em;
    appearance: none;
    font-weight: bold;
    transition: all ease 0.6s, visibility 1ms;
}

#input_selection {
    width: 6em;
}

.element_visualization {
    flex-grow: 2;
    align-self: center;
}

.value_visualization {
    width: 4em;
    height: 4em;
    border: 2px solid #555;
    border-radius: 0.5em;
}

.range_slider_box {
    display: flex;
    flex-direction: column;
}

.range_slider {
    display: flex;
}

.range_slider input {
    flex: 3 1 20px;
}

.range_slider label {
    flex: 1 1 20px;
}

.range_slider .range_value_output {
    flex: 2 1 20px;
}

.element_description {
    flex-grow: 1;
    align-self: center;
    text-decoration: underline;
}

.control_loop_element button {
    width: 25px;
    height: 25px;
    background-color: #f1faee;
    border: 2px solid #1d3556;
    border-radius: 50%;
    margin: 3px;
    font-weight: bold;
    text-align: center;
    transition: all ease 0.6s, visibility 1ms;
    box-shadow: 0 0.2em 0.2em -0.1em rgb(10 10 10 / 40%), 0 0 0 1px rgb(10 10 10 / 20%);
}

.control_loop_element button:hover {
    background-color: #457b9d;
}