/* This stylesheet contains css informations about the control loop visualization. */

/* ######################################################################## */
/*                          Control loop in general.                        */
/* ######################################################################## */


.background_svg_draw_area {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.background_svg_draw_area * {
    transition: all ease 0.6s, visibility 1ms;
}

.control_loop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#main_control_loop {
    flex: 2 1 500px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
    min-height: 100vh;
}


/* ######################################################################## */
/*                 D3-charts on top of the control loop.                    */
/* ######################################################################## */

.control_loop_plots {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.control_loop_plot {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 40vh;
    vertical-align: top;
    transition: ease 0.6s;
    border-radius: 30px;
    overflow: hidden;
}

.svg_content_responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}


/* ######################################################################## */
/*                          Control loop layout.                            */
/* ######################################################################## */

.control_loop_top_row {
    display: flex;
    justify-content: space-evenly;
}

.control_loop_bottom_row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.control_loop_element {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 22em;
    max-width: 18%;
    height: 8em;
    margin: 0;
    padding: 0;
    background-color: #bde0fe;
    border: 1px solid #012a4a;
    border-radius: 10px;
    box-shadow: 0 0 0.5em -0.2em #1d3556;
    text-align: center;
    transition: all ease 0.6s, visibility 1ms;
    z-index: 1;
}



.control_loop_element:hover {
    box-shadow: 0 0 0.5em -0.1em #1d3556;
}

.control_loop_element_top_row {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.control_loop_element_bottom_row {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-grow: 2;
}

.element_description {
    flex-grow: 1;
    align-self: center;
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: bold;
    text-decoration: underline;
}

.element_value {
    flex-grow: 1;
    align-self: center;
}

.control_loop_dropdown {
    font-size: 1.2rem;
    text-align-last: center;
    background-color: #fffffc;
    border: 1px solid #012a4a;
    border-radius: 0.5em;
    width: 2.5em;
    height: 2.5em;
    appearance: none;
    font-weight: bold;
    transition: all ease 0.6s, visibility 1ms;
}

.control_loop_dropdown:hover {
    box-shadow: 0 0 0.3em -0.1em #1d3556;
}

#input_selection {
    width: 6em;
}

.element_visualization {
    flex-grow: 2;
    align-self: center;
}

.value_visualization {
    width: 4em;
    height: 4em;
    border: 1px solid #555;
    border-radius: 0.5em;
}

.range_slider_box {
    display: flex;
    flex-direction: column;
}

.range_slider {
    display: flex;
    border-radius: 5px;
    transition: all ease 0.6s, visibility 1ms;
}

.range_slider input {
    flex: 3 1 20px;
}

.range_slider label {
    flex: 1 1 20px;
}

.range_slider .range_value_output {
    flex: 2 1 20px;
}