html {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

h1 {
    text-align: center;
}

.control_loop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}

.control_loop_plots {
    display: flex;
    justify-content: space-around;
}

.control_loop_plot {
    width: 30%;
    height: 400px;
}

.control_loop_top_row {
    display: flex;
    justify-content: space-evenly;
}

.control_loop_bottom_row {
    display: flex;
    justify-content: center;
}

.control_loop_element {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 18%;
    height: 100px;
    background-color: #f1faee;
    border: 2px solid #457b9d;
    border-radius: 10px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 40%), 0 0 0 1px rgb(10 10 10 / 20%);
    text-align: center;
    transition: ease 0.3s;
}

.control_loop_element:hover {
    border-color: red;
}

.control_loop_element_top_row {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.control_loop_element_bottom_row {
    flex-grow: 2;
}

.element_description {
    flex-grow: 2;
    margin-top: 0.3em;
}

#input_variable {
}

#controller {
}

#controlled_system {
}

#output_variable {
}

#measuring_element {
}

.control_loop_element button {
    width: 25px;
    height: 25px;
    background-color: #f1faee;
    border: 2px solid #1d3556;
    border-radius: 50%;
    margin: 3px;
    font-weight: bold;
    text-align: center;
    transition: ease 0.3s;
}

.control_loop_element button:hover {
    background-color: #457b9d;
}
